([ for section_key, section_name in sections.items() ])
([ set section_items = items|selectattr("section", "equalto", section_key)|list ])
([ if section_items ])
\subsection{(( section_name.title() ))}
([ for subsection_key, subsection_name in subsections.items() ])
([ set subsection_items = section_items|selectattr("subsection", "equalto", subsection_key)|list ])
([ if subsection_items ])
([ if subsection_name|length > 0 ])
\subsubsection{(( subsection_name.title() ))}
([ endif ])

\begin{itemize}
([ for item in subsection_items ])
\item (( item.description ))
([ endfor ])
\end{itemize}
([ endif ])
([ endfor ])
([ endif ])
([ endfor ])
