([ if archive ])
\subsection{Version mf(( version ))---(( date ))}

([ endif ])
([ for section_key, section_name in sections.items() ])
([ set section_items = items|selectattr("section", "equalto", section_key)|list ])
([ if section_items ])
([ if archive ])
\textbf{\underline{(( section_name ))}}
([ else ])
\subsection{(( section_name.title() ))}
([ endif ])
([ for subsection_key, subsection_name in subsections.items() ])
([ set subsection_items = section_items|selectattr("subsection", "equalto", subsection_key)|list ])
([ if subsection_items ])
([ if subsection_name|length > 0 ])
([ if archive ])
\underline{(( subsection_name ))}
([ else ])
\subsubsection{(( subsection_name.title() ))}
([ endif ])
([ endif ])
([ if not archive ])

([ endif ])
\begin{itemize}
([ for item in subsection_items ])
\item (( item.description ))
([ endfor ])
\end{itemize}
([ if archive ])

([ endif ])
([ endif ])
([ endfor ])
([ endif ])
([ endfor ])
